html {
  height: 100%;
  /* Asegúrate de que no haya desbordamiento innecesario en html */

  overflow-y: scroll;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  /* Usar flexbox para estructurar el contenido y footer adecuadamente */
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 100%;
  flex: 1 0 auto;
  /* Estilos para el div content */
  position: relative; /* Asegura que los elementos absolutamente posicionados sean relativos a este div */
  width: 100%; /* Ancho del div */
  height: 100%; /* Altura del div */
}

.imagen-div {
  /* Estilos para la imagen */
  position: absolute; /* Coloca la imagen de manera absoluta dentro del div .content */
  width: 100%; /* Ancho al 100% del div .content */
  height: 100%; /* Altura al 100% del div .content */
  mix-blend-mode: darken;
  
}
.header {
  min-height: 100%;
  margin: 0;
  padding: 0;
  /* Aplicar el degradado a la mitad exacta de la pantalla para ambos colores */
  background: linear-gradient(to bottom, #0092ca 20%, #ffffff 100%);
  color: white;
  /* Usar flexbox para estructurar el contenido y footer adecuadamente */
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container .logo {
  height: 120px; /* Ajustar según el tamaño deseado del logo */
}

.nav-links a {
  display: inline-block;
  background-color: transparent; /* Fondo transparente */
  color: #1d4c78;
  padding: 0 15px;
  margin: 0 10px;
  border: 2px solid #1d4c78; /* Bordes de color azul */
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transición para fondo, color de texto y bordes */
}

.nav-links a:hover {
  background-color: #005EB8; /* Color de fondo al pasar el mouse sobre los enlaces */
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .top-nav {
    flex-direction: column;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .nav-links a {
    margin-bottom: 5px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.menu-item {
  flex: 1; /* Todos los elementos del menú tienen el mismo ancho */
  text-align: center;
  padding: 1px 10px; /* Padding ajustado para centrar el texto verticalmente */
  margin: 0 15px; /* Espaciado entre los botones y el borde */
  border-radius: 10px;
  color: white;
  line-height: 1.2; /* Ajusta la altura de la línea para centrar el texto verticalmente */
  font-size: 20px;
  text-decoration: none; 
  position: relative; 
  transition: background-color 0.3s, transform 0.3s;
}
.menu-item.salud { background-color: #00b8e2; }
.menu-item.prensa { background-color: #00a6e5; }
.menu-item.emergencia { background-color: #008bab; }
.menu-item.presencia { background-color: #007a8e; }
.menu-item.acercade { background-color: #006778; }
.menu-item.active {
  background-color: #e68960;/* Color de fondo para el elemento activo */
  color: white;
  text-decoration: none;
}
.menu-item::before {
  content: '';
  position: absolute;
  top: -6px; /* Espacio vertical del borde */
  bottom: -6px; /* Espacio vertical del borde */
  left: -6px; /* Espacio horizontal del borde */
  right: -6px; /* Espacio horizontal del borde */
  border-radius: 15px; /* Bordes redondeados más grandes que el botón para el efecto de borde separado */
  background: transparent;
  z-index: -1; /* Coloca el borde debajo del botón */
  border: 2px solid #004a7c; /* Ajusta el color y el ancho del borde */
  transition: border-color 0.3s;
}

.menu-item:hover, .menu-item:active, .menu-item.active {
  background-color: #e68960; /* Color de fondo al pasar el mouse sobre los enlaces */
  color: white;
  text-decoration: none; /* Evita que el texto se subraye */
}

.menu-item:hover::before, .menu-item:active::before, .menu-item.active::before {
  border-color: #003f6b; /* Cambia el color del borde al pasar el mouse o al estar activo */
}



.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  
}
.footer {
  padding: 38px 0; /* Añade algo de relleno para que el footer tenga altura */
  background: linear-gradient(to bottom, #ffffff 10%, #0092ca 100%);
  color: #0092ca; /* Cambia el color del texto para que sea visible contra el fondo blanco */
  display: flex;
  justify-content: space-between; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos hijos */
  align-items: center;
  width: 100%; /* Asegura que el contenedor se expanda a todo el ancho */
  padding: 0 15px; /* Añade algo de relleno a los lados para evitar que el contenido toque los bordes */
}

.footer-content span {
  font-size: 21px; /* Ajusta el tamaño de la fuente según lo necesites */
}

.social-icons {
  display: flex;
  align-items: center;
  
}

.social-icon {
  margin-left: 10px; /* Añade espaciado entre los íconos */
  text-decoration: none;
  font-size: 24px; /* Ajusta el tamaño de los íconos según lo necesites */
  padding: 0 15px;
}

.custom-nav-header {
  text-align: left;
  color: #00b8e4;
  font-weight: bold;
  font-size: 22px; /* Ajusta el tamaño de la fuente según sea necesario */
  padding: 10px 51px; /* Ajusta el padding para alinear el título a la izquierda */
}

.custom-nav-container {
  background-color: #00b8e2; /* Color de fondo de la barra de navegación */
  padding: 10px 20px;
  margin: 0 20px;
}

.custom-nav-bar {
  display: flex;
  width: 100%; 
}

.custom-filter-btn, .custom-search-input {
  flex-grow: 1; /* Esto hará que ambos elementos tengan el mismo ancho */
  border: none;
  padding: 5px 20px; /* Ajusta el relleno según sea necesario */
  font-size: 22.5px; /* Ajusta el tamaño de la fuente según sea necesario */
  cursor: pointer;
  background-color: #add0e0;
  
}

.custom-filter-btn {
  background-color: #add0e0; /* Color del botón de filtrado */
  color: white;
  padding-left: 1px;
}

.custom-search-input {
  color: white !important;
  padding-left: 65px;
}
.custom-search-input::placeholder { /* Estilo para el texto del placeholder */
  color: white; /* Cambia el color del placeholder a blanco */
  
}
/* Ajusta el estilo al hacer hover sobre los botones */
.custom-filter-btn:hover {
  background-color: #00a5e4; /* Un color más oscuro para el efecto hover */
}

/* Remover los estilos predeterminados del input */
.custom-search-input:focus {
  outline: none;
}

/* Asegura que no hay espacio entre los elementos */
.custom-nav-bar > * {
  margin: 0;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  color:white;
  background-color: #adcfde;
  min-width: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.custom-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.custom-dropdown-content a:hover {background-color: #00a5e4;}

/* Agrega tus estilos existentes aquí */
.body-wrapper2 {
  background-color: #ffffff; /* O el color de fondo que prefieras */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Esto asegura que los elementos están distribuidos uniformemente */
}

.content2 {
  width: 100%;
  display: flex;
  justify-content: space-around; /* Ajusta los elementos uniformemente */
  flex-wrap: wrap;
  background-color: #ffffff;
}

.health-topic {
  flex-basis: 18%; /* Ajusta este valor para que encaje en la pantalla, dependiendo de los márgenes */
  text-align: center;
  background-color: #ffffff;
}

.health-topic .topic-title {
  padding: 5px;
  margin-bottom: 10px; /* Espacio entre el título y la imagen */
  background-color: #add0e0; /* Fondo blanco para el título */
  height: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Opcional: sombra para el título */
}

.health-topic img {
  max-width: 230px; /* Ancho fijo para todas las imágenes */
  height: auto; /* Para mantener la proporción de las imágenes */
  mix-blend-mode: darken;
}

/* CENTROS*/
/* CENTROS*/
/* CENTROS*/
/* CENTROS*/

.news-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre tarjetas */
}

.news-item {
  width: calc(25% - 20px); /* Ajusta este valor para que haya 4 elementos por fila y se considera el gap */
  margin-bottom: 20px; /* Espacio debajo de cada tarjeta */

}

.news-title {
  padding: 10px;
  background-color: #00a6e5;
  font-size: 20px;
  margin-bottom: 15px; /* Margen debajo del título */
  text-align: center;
  width: 85%;
  margin-left: auto; /* Centra el elemento horizontalmente */
  margin-right: auto; /* Centra el elemento horizontalmente */
}

.news-item img {
  max-height: 420px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra el espacio asignado sin perder proporciones */
  margin-left: 8%;
  max-width: 270px;
  mix-blend-mode: darken;
}

.news-item p {
  font-size: 14px; /* Tamaño de fuente para el texto debajo de la imagen */
  color: #0c588a;
  font-weight: bold;
  margin-left: 8%;
  width: 85%;
}


/* EMERGENCIAS */
/* EMERGENCIAS */
/* EMERGENCIAS */
/* EMERGENCIAS */

.emergency-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* El color de fondo puede variar según tu diseño */
  border: 3px solid #e34258; /* El borde de la sección completa */
  color: #07073f;
  z-index: 0;
  width: 96%;
  margin-left: auto; /* Centra el elemento horizontalmente */
  margin-right: auto; /* Centra el elemento horizontalmente */
  position: relative;
  margin-top: -15px;
}

.emergency-title {
  background-color: #008bab;
  color: white;
  text-align: center;
  font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
  width: 22%;
  margin-left: auto; /* Centra el elemento horizontalmente */
  margin-right: auto; /* Centra el elemento horizontalmente */
  z-index: 1;
  position: relative;
  margin-top: 10px;
}

.emergency-content {
  display: flex;
}

.left-panel, .center-panel, .right-panel {
  padding: 10px;
}

.left-panel {
  flex: 1; /* Opcionalmente puedes ajustar la proporción de flex para cada panel */
}

.center-panel {
  flex: 1; /* Ajusta este valor según sea necesario */
}

.right-panel {
  flex: 1; /* Ajusta este valor según sea necesario */
}

.center-panel img {
  width: 77%; /* Asegura que las imágenes ocupen todo el ancho disponible */
  height: auto;
  margin-bottom: 10px; /* Espacio entre las imágenes */
  margin-top: 25px;
}
.left-panel h2{
  color: rgb(227, 66, 88);
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 80px;
}
.right-panel P {
  margin-top: 35px;
  margin-left: -35PX;
  font-size: 15px;
}
.statistics {
  display: flex;
  justify-content: space-around;
  margin-top: 10px; /* Espacio encima de las estadísticas */
}

.statistics .cases, .statistics .deaths, .statistics .vaccinations {
  margin-top: 80px;
  text-align: center;
}

.number {
  font-size: 20px; /* Tamaño de fuente grande para los números */
  font-weight: bold;
  color: rgb(227, 66, 88)
}

.label {
  font-size: 14px; /* Tamaño de fuente menor para las etiquetas */
  color: #231f20;
}

/*PRESENCIA*/
/*PRESENCIA*/
/*PRESENCIA*/
/*PRESENCIA*/

.global-presence-section {
  display: flex;
  justify-content: space-between;
}

.region-descriptions {
  width: 40%; /* Ajusta este valor para dejar espacio para el mapa */
  margin-left: -10px; /* Centra el elemento horizontalmente */
  margin-right: auto;
}
.region {
  width: 80%;
  background-color: rgb(197, 207, 213);
  margin-left: 30px; /* Centra el elemento horizontalmente */
  margin-right: auto; /* Centra el elemento horizontalmente */
  padding: 10px;
  margin-top: 20px;
}

.region h4{
  color: #0d5772;
  display: inline; /* Mantiene el título en la misma línea que el párrafo */
  font-weight: bolder; /* Si quieres que el título sea más grueso */
  margin: 0; /* Elimina cualquier margen por defecto */
}
.region p{
  color: #0d5772;
  display: inline; /* Mantiene el párrafo en la misma línea que el título */
  margin: 0; /* Elimina cualquier margen por defecto */
  text-align: justify; /* Justifica el texto del párrafo si es necesario */

  font-size: 13px;
}
.descriptions{
  width: 72%;
  background-color: rgb(0, 122, 142);
  margin-left: 50px; /* Centra el elemento horizontalmente */
  padding: 1px;
  text-align: center;
 
}
.world-map {
  width: 60%; /* Ajusta este valor según sea necesario */
}

.world-map img {
  width: 100%;
  height: auto; /* Asegura que la imagen mantenga su proporción */

  mix-blend-mode: darken;
}
/*APOYO*/
/*APOYO*/
/*APOYO*/
/*APOYO*/
/*APOYO*/
.info-section {
  display: flex;
  justify-content: space-around; /* Distribuye los bloques de manera uniforme */
  flex-wrap: wrap; /* Permite que los bloques pasen a la siguiente línea en pantallas pequeñas */
}

.info-block {
  flex: 1 1 25%; /* Los bloques deben crecer y encogerse según sea necesario, pero iniciar en 25% */
 
  overflow: hidden; /* Asegura que todo el contenido se ajuste dentro de los bloques */
}

.info-block h4 {
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
}

.info-block img {
  width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
}

.info-block p {
  color: white;
  padding: 10px;
  font-size: 14px; /* Ajusta esto según la tipografía de tu sitio */
  text-align: center;
}

