html {
    height: 100%;
    /* Asegúrate de que no haya desbordamiento innecesario en html */
    overflow: hidden;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    /* Aplicar el degradado a la mitad exacta de la pantalla para ambos colores */
    background: linear-gradient(to bottom, #0092ca 10%, #ffffff 80%);
    color: white;
    font-family: 'Century Gothic', sans-serif;
    /* Usar flexbox para estructurar el contenido y footer adecuadamente */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow: auto;
}
.content {
    min-height: 100%;
    flex: 1 0 auto;
}

.header {
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container .logo {
    height: 120px; /* Ajustar según el tamaño deseado del logo */
}
.nav-links a {
    display: inline-block;
    background-color: transparent; /* Fondo transparente */
    color: #1d4c78;
    padding: 0 15px;
    margin: 0 10px;
    border: 2px solid #1d4c78; /* Bordes de color azul */
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transición para fondo, color de texto y bordes */
}

/* Estilos para el menú desplegable */
.language-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    z-index: 1;
}

.dropdown-content a {
    border-radius: 0;
    background-color: #00b7e1;
    border: 2px solid #00a5e4;
}

.language-dropdown:hover .dropdown-content {
    display: block;
}
.nav-links a:hover {
    background-color: #5ab6dd; /* Color de fondo al pasar el mouse sobre los enlaces */
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
    .top-nav {
        flex-direction: column;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    .nav-links a {
        margin-bottom: 5px;
    }
}
